.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background: #005b95;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.navbar .btn {
    color:#fff;
    background: #f19100;
    padding: .2rem 1rem;
}

#accordionLogin {
    padding: 1.25rem 1.25rem 0 1.25rem;
}
#accordionLogin .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    line-height: 30px;
    z-index: 10px;
}
#accordionLogin .card {
    border: 0;
}
#accordionLogin .card-header {
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    background: transparent;
    text-align: center;
    border: 0;
    padding: 0 0 1.25rem 0;
    color: #005b95;
}
#accordionLogin .card-header span {
    color: #f19100;
}
#accordionLogin .card-body {
    padding: 0 0 1.25rem 0;
}

#accordionLogin .form-control {
    border-color: #005b95;
    border-radius: 0;
    color: #005b95;
    font-size: .9rem;
}
#accordionLogin .form-control::placeholder {
    color: #347dac;
}
#accordionLogin .tipo {
    background: #ffe6c1;
    text-align: center;
    padding: 10px;
    margin-bottom: .5rem;
    font-size: .9rem;
    color: #f19100;
}
#accordionLogin .btn {
    color:#fff;
    background-color: #f19100;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center left 5px;
    width: 100%;
    border-radius: 0;
}

#accordionLogin .btn.fb {
    color:#fff;
    background-color: #3b5998;
    padding-left: 50px;
    margin-bottom: 10px;
    background-position: center left 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 24 24'%3E%3Cpath d='M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z'/%3E%3C/svg%3E");
}

#accordionLogin .btn.gl {
    color:#fff;
    background-color: #d64a39;
    padding-left: 50px;
    margin-bottom: 10px;
    background-position: center left 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 24 24'%3E%3Cpath d='M7 11v2.4h3.97c-.16 1.029-1.2 3.02-3.97 3.02-2.39 0-4.34-1.979-4.34-4.42 0-2.44 1.95-4.42 4.34-4.42 1.36 0 2.27.58 2.79 1.08l1.9-1.83c-1.22-1.14-2.8-1.83-4.69-1.83-3.87 0-7 3.13-7 7s3.13 7 7 7c4.04 0 6.721-2.84 6.721-6.84 0-.46-.051-.81-.111-1.16h-6.61zm0 0 17 2h-3v3h-2v-3h-3v-2h3v-3h2v3h3v2z' fill-rule='evenodd' clip-rule='evenodd'/%3E%3C/svg%3E");
}


/* The container */
#accordionLogin .radio-custom label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 10px 10px 5px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
#accordionLogin .radio-custom input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
#accordionLogin .radio-custom .checkmark {
    display: block;
    width: 30px;
    line-height: 30px;
    background-color: #f19100;
    border-radius: 50%;
    color: #fff;
}
/* When the radio button is checked, add a blue background */
#accordionLogin .radio-custom input:checked ~ .checkmark {
    background-color: #005b95;
}


@media (min-width: 576px) {
    .modal-dialog {
        max-width: 400px;
        margin: 1.75rem auto;
    }
}

.btn.focus, .btn:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-menu {
    background: #f19100;
}
.dropdown-item {
    color: #fff;
    transition: all .15s ease-in-out;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    background-color: transparent;
}
.dropdown-divider {
    border-color: #cd7b05;
}

.home .slide .box {
    margin: 5% 0 0 10%;
}
.home .slide h2 {
    color: #fff;
    max-width: 300px;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 3rem;
    margin-bottom: 40px;
    line-height: 1;
}
.home .slide .btn {
    padding: 10px 50px 10px 30px;
    border-radius: 50px;
    background-size: 10px;
    background-position: center right 20px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='%23fff' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'/%3E%3C/svg%3E");
    background-color: #005b95;
    color: #fff;
    letter-spacing: 2px;
    font-size: .9rem;
}
.home .slide .btn:hover {
    background-color: #f19100;
}
.home .slide .slick-slide {
    background-size: cover;
    background-position: center left;
    height: 600px;
}
.slick-prev, .slick-next {
    z-index: 1;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev {
    left: 10px;
}
[dir='rtl'] .slick-prev {
    right: 10px;
    left: auto;
}
.slick-next {
    right: 10px;
}
[dir='rtl'] .slick-next {
    right: auto;
    left: 10px;
}
.slick-prev:after,
.slick-prev:before,
.slick-next:after,
.slick-next:before {
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.slick-prev:after, .slick-next:after { opacity: 0; }
.slick-prev:hover:after, .slick-next:hover:after { opacity: 1; }
.slick-prev:hover:before, .slick-next:hover:before { opacity: 0; }
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before { opacity: .5; }
.slick-prev.slick-disabled:hover:after, .slick-next.slick-disabled:hover:after { opacity: 0; }
.slick-prev:before,
[dir='rtl'] .slick-next:before {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'%3E%3Cpath fill='%23ffffff' d='M8,0.5C3.858,0.5,0.5,3.857,0.5,8c0,4.142,3.358,7.5,7.5,7.5c4.144,0,7.5-3.358,7.5-7.5 C15.5,3.857,12.144,0.5,8,0.5z M8,14.813c-3.763,0-6.813-3.052-6.813-6.813c0-3.763,3.051-6.813,6.813-6.813 c3.764,0,6.813,3.05,6.813,6.813C14.813,11.763,11.764,14.813,8,14.813z M5.953,7.999l2.078,2.719h0.657L6.607,7.999l2.08-2.717 H8.031L5.953,7.999z'/%3E%3C/svg%3E");
}
.slick-prev:after,
[dir='rtl'] .slick-next:after {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'%3E%3Cpath fill='%23ffffff' d='M8,0.5C3.858,0.5,0.5,3.857,0.5,8c0,4.142,3.358,7.5,7.5,7.5c4.144,0,7.5-3.358,7.5-7.5 C15.5,3.857,12.144,0.5,8,0.5z M8.031,10.718L5.953,7.999l2.078-2.717h0.656l-2.08,2.717l2.081,2.719H8.031z'/%3E%3C/svg%3E");
}
.slick-next:before,
[dir='rtl'] .slick-prev:before {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'%3E%3Cpath fill='%23ffffff' d='M8,0.5C3.858,0.5,0.5,3.857,0.5,8c0,4.142,3.358,7.5,7.5,7.5c4.144,0,7.5-3.358,7.5-7.5 C15.5,3.857,12.144,0.5,8,0.5z M8,14.813c-3.763,0-6.813-3.052-6.813-6.813c0-3.763,3.051-6.813,6.813-6.813 c3.764,0,6.813,3.05,6.813,6.813C14.813,11.763,11.764,14.813,8,14.813z M8,5.282H7.345l2.079,2.717l-2.08,2.719H8l2.078-2.719 L8,5.282z'/%3E%3C/svg%3E");
}
.slick-next:after,
[dir='rtl'] .slick-prev:after {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='50px' height='50px' viewBox='0 0 16 16' enable-background='new 0 0 16 16' xml:space='preserve'%3E%3Cpath fill='%23ffffff' d='M8,0.5C3.858,0.5,0.5,3.857,0.5,8c0,4.142,3.358,7.5,7.5,7.5c4.144,0,7.5-3.358,7.5-7.5 C15.5,3.857,12.144,0.5,8,0.5z M8,10.718H7.344l2.08-2.719L7.345,5.282H8l2.078,2.717L8,10.718z'/%3E%3C/svg%3E");
}
.home {
    margin-top: 56px;
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 1px;
}
.home h2 {
    font-weight: 300;
}
.home .valores {
    text-align: center;
    color: #fff;
    background: #005b95;
}
.home .valores >div {
    padding: 40px 20px;
}
.home .interfaz {
    text-align: center;
    color: #666666;
}
.home .interfaz >div {
    padding: 40px 20px;
}
.home .interfaz h2 {
    margin-bottom: 40px;
    line-height: 1;
}
.home .interfaz h2 span {
    color: #e67319;
    display: block;
    letter-spacing: 8px;
    margin-left: 6px;
}
.home .workday {
    background: #005b95;
    color: #fff;
    padding: 40px 20px;
    letter-spacing: 0;
}
.home .workday h2{
    margin-bottom: 40px;
}
.home .workday img {
    max-width: 100%;
    height: auto;
}
.links .orange {
    background: #f19100;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}
.links .white {
    background: #fff;
    color: #f19100;
    padding: 40px 20px;
    text-align: center;
}
.links h2 {
    font-size: 1.7rem;
    font-weight: 400;
}
.links .btn {
    padding: 10px 60px 10px 40px;
    border-radius: 50px;
    background-size: 20px;
    background-position: center right 20px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='%23f19100' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'/%3E%3C/svg%3E");
    background-color: #fff;
    color: #f19100;
}
.links .white .btn {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='%23fff' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'/%3E%3C/svg%3E");
    background-color: #f19100;
    color: #fff;
}

.footer {
    background: #005b95;
    color: #fff;
    font-size: 1rem;
}
.footer .logo {
    max-width: 100%;
    height: auto;
    margin: 40px auto;
    display: block;
}
.footer hr {
    border-color: #fff;
}
.footer .box {
    display: table;
    width: 100%;
    margin: 20px 0;
}
.footer h2 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
}
.footer .box .datos-img {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    text-align: center;
}
.footer .box .datos-txt {
    display: table-cell;
    vertical-align: middle;
}
.footer .social {
    margin: 20px 20px 40px 0;
    display: inline-block;
}
@media (min-width: 992px) {
    .footer h2 {
        text-align: right;
    }
}
