.map {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:url(../img/bg-map.jpg);
    background-size: cover;
    background-position: center;
}
.map:after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title .col {
    position: relative;
    padding-left: 3rem;
    padding-right: 3rem;
}

.mobile-menu {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    width: 3rem;
    height: 3rem;
    margin-top: -25px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}
.mobile-menu:before,
.mobile-menu:after,
.mobile-menu span {
    content: '';
    display: block;
    width: 26px;
    height: 2px;
    position: absolute;
    left: 12px;
    background: #ffffff;
}
.mobile-menu:before {
    top: 16px;
}
.mobile-menu span {
    top: 24px;
}
.mobile-menu:after {
    top: 32px;
}

.sidebar .close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 30px;
    width: 35px;
    text-align: center;
    font-size: 30px;
    background: #e67319;
    border-radius: 50%;
    padding-bottom: 5px;
    cursor: pointer;
    color: #fff;
}

.sidebar {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    height: 100vh;
    padding: 20px;
    background: #fff;
    color: #005c96;
    text-align: center;
    transition: transform .3s ease;
    transform: translateX(-100%);
}
.sidebar.opened {
    transform: translateX(0);
}

.sidebar .logo {
    display: inline-block;
    margin: 25px auto 20px auto;
}
.sidebar .user {
    font-weight: 700;
    margin-bottom: 20px;
}
.sidebar .menu {
    list-style: none;
    padding: 0;
    font-size: .9rem;
    letter-spacing: 1px;
    text-align: left;
}
.sidebar .menu a {
    color: #005c96;
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 10px;
}
.sidebar .menu a.active, .sidebar .menu a:hover {
    background: #e67319;
    color: #fff;
}

.title, .subtitle {
    color: #fff;
    background: #e67319;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    z-index: 2;
}
.subtitle {
    background: #005c96;
    font-size: 1.3rem;
}

.inmuebles { padding: 40px 2%; }
.inmueble { padding: 2%; color: #005c96; }
.inmueble .box { background: #f2f2f2; box-shadow: 0px 3px 6px rgba(136, 136, 136, 0.6); }
.inmueble .content { padding: 20px; }
.inmueble .image {  display: block; height: 200px; background-size: cover; background-position: center; position: relative; }
.inmueble h4 { font-weight: 600; margin-bottom: 5px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; font-size: 20px; }
.inmueble .name { border-bottom: 1px solid #005c96; margin-bottom: 5px; }
.inmueble .group { width: 50%; display: inline-block; vertical-align: top; font-size: 14px; line-height: 18px; }
.inmueble .item { padding: 5px 0 5px 40px; margin-top: 5px; background-size: contain; background-position: center left; background-repeat: no-repeat; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.inmueble .item.rooms { background-image: url(../img/icon-alcobas.png); }
.inmueble .item.bath { background-image: url(../img/icon-banos.png); }
.inmueble .item.garage { background-image: url(../img/icon-garaje.png); }
.inmueble .item.meters { background-image: url(../img/icon-metros.png); padding-left: 30px; }
.inmueble .item.price { background-image: url(../img/icon-metros.png); padding-left: 30px; }

.inmueble a { display: block; background: #005c96; padding: 5px 10px; text-align: center; margin-top: 5px; border-radius: 30px; color: #fff; }
.inmueble a:hover { background: #e67319; color: #fff; }

.inmueble .delete {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    line-height: 28px;
    text-align: center;
    background: #a71e1d;
    color: #fff;
    border-radius: 50%;
    font-size: 25px;
    padding-bottom: 2px;
    cursor: pointer;
}

.popup-permuto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f9f1;
    border: 1px solid green;
    color: #008000;
    z-index: 100;
    width: 80%;
    padding: 30px;
    box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    display: none;
}
.popup-permuto .closed {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    font-size: 1.8rem;
    line-height: 1;
}

@media (min-width: 768px){

    .sidebar {
        transform: translateX(0)!important;
        border-right: 1px solid #e67319;
    }
    .sidebar .close-menu, .mobile-menu {
        display: none;
    }
    .inmuebles { padding: 40px 4%; }

}
